PORT=3000

# Firebase Configuration
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
FIREBASE_CLIENT_EMAIL=your_firebase_client_email@your_firebase_project_id.iam.gserviceaccount.com

# AI API Keys
VITE_GROQ_API_KEY=your_groq_api_key
VITE_APP_HF_API_KEY=your_huggingface_api_key

# Appwrite Configuration
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your_appwrite_project_id
APPWRITE_API_KEY=your_appwrite_api_key
APPWRITE_BUCKET_ID=your_appwrite_bucket_id

# Spitch AI Configuration
SPITCH_API_KEY=your_spitch_api_key
